primaryDisabled = #FCB267
primary = #C76F16
primaryHover = #A35505
primaryActive = #7A3E00
accent = #11647C
darkGray = #4F463D
lightGray = #F5ECE3
white = #FFFFFF


html, body
	height 100%
	width 100%
	margin 0
	padding 0

.app
	padding-bottom 72px
.logo
	font-family: 'Raleway', sans-serif
.landing
	background-color: black
	height 100%
	width 100%
	.bg
		height 100%
		width 100%
		background-image url(/img/modified.jpg)
		background-position center center
		background-repeat no-repeat
		display flex
		flex-direction column
	.centerBox
		max-width 100%
		margin auto
		color white
		display flex
		flex-direction column
		.logo
			// font-size 1000%
			font-size 20vmin
			text-align center
		.loginButton
			color inherit
			font-style inherit
			margin auto
			background-color transparent
			border solid
			border-width 2px
			border-radius 5px
			border-color white
			padding 20px 50px
			font-weight 200%
			font-size 110%
			letter-spacing 3px
		img
			max-width 100%
			max-height 200px
.navbar
	margin-bottom 0px
.emptyNavSpacing
	height 72px
	@media (min-width: 768px) {
		height 52px
	}
.starredProductCard
	background-color: #d9edf7

.orderSummaryScreen, .orderCatalogScreen
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 1em
	color: darkGray

.catalogSearch
	margin: 1em 0
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	input
		flex-grow: 1
		padding: 1em
		border-style: solid;
		border-color: lightGray
		border-width: 1px;
		width: 100%
		box-sizing: border-box;
		display: block;

button.barfly.primary
	background-color: primary
	color: lightGray
	border: none
	border-radius: 3px
	// height: 3em
	padding: 1em
	letter-spacing: 0.25em
	text-transform: uppercase;
	box-sizing: border-box;
	&:hover
		background-color: primaryHover
	&:active
		background-color: primaryActive
	&[disabled]
		background-color: primaryDisabled
